<!Doctype html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
	<form action="{{ data.action }}" method="{{ data.method }}">
	<div id="login_div">
		<select name="username_login" id="username_login">
			<option>--</option>
			<option value="jmowbray">jmowbray</option>
			<option value="tnormington">tnormington</option>
			<option value="cweldon">cweldon</option>
			<option value="edunphy">edunphy</option>
			<option value="wroetzheim">wroetzheim</option>
			<option value="ctobias">ctobias</option>
			<option value="dengit">dengit</option>
			<option value="jgray">jgray</option>
		</select>
		<input type="submit" value="Beam me up Scotty!">
	</div>
	
	</form>

</body>


</html>